body{
    color:white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;
}

a{
    color:white;
    text-decoration: none;
}

nav a:hover{
    color:aqua;
}

img{
    width: 40px;
    height: 40px;
}

main{
    text-align: center;
    justify-content: center;
    display: flex;
}

main a{
    margin: 20px;
}